#galam  {
    background-image: url("/static/img/alam/galam.JPG");
}

#rambutan  {
    background-image: url("/static/img/alam/rambutan.JPG");
}

#kuini  {
    background-image: url("/static/img/alam/kuini.JPG");
}

#karet  {
    background-image: url("/static/img/alam/karet.jpg");
}

#petai  {
    background-image: url("/static/img/alam/petai.jpg");
}