<html>

{% extends "template.html" %}

{% block content %}
<div class="container my-5">

    <h1 class="text-center py-3">Budidaya Ikan dalam Ember di Masa Pandemi Covid -19</h1>
    <div class="col d-flex justify-content-center">
        <img src="/static/img/pertanian/budidaya.png" class="m-2" alt="" style="max-height: 350px">
    </div>
    <div class="col m-3 text-justify">
        <p>Ketersediaan lahan dan air untuk proses akuakultur semakin terbatas, seiring dengan pertambahan penduduk dan
            perkembangan pembangunan. Pertumbuhan penduduk yang semakin fluktuatif dan diikuti dengan meningkatnya
            kegiatan industri, pertanian, dan pemukiman telah menggusur lahan budidaya, sehingga dari tahun ketahun
            luasnya semakin berkurang. Di samping itu, aktivitas penduduk akan mengakibatkan pencemaran baik berupa
            limbah organik maupun anorganik.
            Simbiosis mutualis antara ikan dan sayur. Fungsi ikan menyediakan hampir semua nutrisi bagi tanaman, sedang
            sayuran menyerap nutrisi tersebut untuk makanan atau kesuburan tanaman itu. Maka dari itu mahasiswa KKN
            Kebangsaan 2022 membuat terobosan memanfaatkan pekarangan rumah melalui pembuatan Budikdamber.
        </p>
        <div class="col">
            <h3 class="my-3">Bahan</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Bahan</th>
                        <th scope="col">Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Batang Kangkung</td>
                        <td>Secukupnya</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Bibit Lele</td>
                        <td>20 ekor</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Arang</td>
                        <td>Secukupnya</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Air Bersih</td>
                        <td>10 L</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3 class="my-3">Alat</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Bahan</th>
                        <th scope="col">Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Ember</td>
                        <td>1 Buah</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Gelas Plastik</td>
                        <td>10 Buah</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Solder</td>
                        <td>1 Buah</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3 class="my-3">Langkah Pembuatan</h3>
            <h5 class="my-3">Persiapan Media Tanam Sayur</h5>
            <ol class="gradient-list">
                <li>Lubangi gelas plastik 10 buah dengan solder
                </li>
                <li>Potong kangkung, sisakan bagian bawah;</li>
                <li>Masukkan kangkung ke dalam gelas.</li>
                <li>Isi gelas dengan arang batok kelapa antara 50%-80% ukuran gelas .</li>
                <li>Potong kawat kurang lebih 12 cm dan buat model kait yang bisa dijadikan pegangan gelas di ember.
                </li>
            </ol>
            <h5>Persiapan Media untuk Budikdamber</h5>
            <ol class="gradient-list">
                <li>Isi ember dengan air hingga batas garis ember
                </li>
                <li>Masukkan benih ikan lele yang sudah disiapkan untuk satu ember;</li>
                <li>Masukkan kangkung ke dalam gelas.</li>
                <li>Rangkai gelas kangkung ke dalam ember.</li>
                </li>
            </ol>
        </div>

    </div>
</div>
{% endblock %}

</html>