<html>

{% extends "template.html" %}

{% block content %}
<div class="container my-5">

    <h1 class="text-center py-3">Pembuatan Mikroorganisme Efektif untuk Menunjang Pertanian</h1>
    <div class="col d-flex justify-content-center">
        <img src="/static/img/pertanian/mikroEfektif.jpeg" class="m-2" alt="" style="max-height: 350px">
    </div>
    <div class="col m-3 text-justify">
        <p>Mikroorganisme effektif adalah bahan/kultur mikroorganisme yang dapat membantu mempercepat proses
            pengomposan/dekomposis bahan pada pembuatan pupuk organik, dan meningkatkan kualitas pupuk organik yang
            dihasilkan. Beberapa jenis mikroorganisme yang bersinergis satu sama lain membentuk sebuah komuni yang
            disebut Mikroorganisme efektif (ME). ME melakukan aktivitas hidupnya dengan menurai sisa mahluk hidup
            lainnya yg telah mati.
        </p>
        <div class="col">
            <h3 class="my-3">Bahan</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Bahan</th>
                        <th scope="col">Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Susu Sapi Murni</td>
                        <td>1 Liter</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Terasi Udang</td>
                        <td>1/2 Kg</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Gula Pasir</td>
                        <td>1 Kg</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Bekatul</td>
                        <td>1 Kg</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Nenas</td>
                        <td>1 Buah</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Air Bersih</td>
                        <td>10 L</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3 class="my-3">Alat</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Bahan</th>
                        <th scope="col">Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Panci</td>
                        <td>1 Buah</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Kompor</td>
                        <td>1 Buah</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Blender</td>
                        <td>1 Buah</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h3 class="my-3">Langkah Pembuatan</h3>
            <ol class="gradient-list">
                <li>Buah nenas dikupas kulitnya kemudian dihaluskan dengan blender atau diparut. Setelah itu, campurkan
                    terasi, bekatul, gula pasir/gula merah/molase dan air bersih di dalam panci. Masak hingga mendidih,
                    lalu adonannya didinginkan.
                </li>
                <li>Setelah dingin, tambahkan susu sapi, aduk hingga tercampur rata;</li>
                <li>Tutuplah rapat-rapat adonan tersebut selama 12 jam atau satu hari.</li>
                <li>Jika sudah jadi, adonan menjadi kental dan lengket. Pembuatan mikroorganisme dianggap berhasil jika
                    muncul gelembung-gelumbung di permukaan bahan .</li>
                <li>ME sudah dapat diambil, kemudian masukan dalam botol.</li>
                <li>Simpan botol di dalam ruangan yg sejuk dan tidak terkena sinar matahari langsung. Agar bakteri
                    mendapat kebutuhan oksigen, tutup botol jangan terlalu rapat atau biarkan terbuka pada waktu-waktu
                    tertentu.</li>
                <li>Cairan ME siap digunakan untuk membuat pupuk organik (padat atau cair) atau dibuat sebagai
                    bibit/biang untuk pembiakan ME.</li>
            </ol>
        </div>

    </div>
</div>
{% endblock %}

</html>