<html>

{% extends "template.html" %}

{% block content %}
<div class="container my-5">

    <h1 class="text-center py-3">Pemanfaatan Limbah Buah Rambutan (Biji dan Kulit)</h1>
    <div class="col d-flex justify-content-center">
        <img src="/static/img/pertanian/tehRutan.jpeg" class="m-2" alt="" style="max-height: 350px">
    </div>
    <div class="col m-3 text-justify">
        <p>Sebagai salah satu daerah penghasil buah rambutan, tak jarang masyarakat hanya mengonsumsi daging buahnya
            saja, namun ada alternatif pengolahan dari biji serta kulit buah rambutan. Dari pengolahan biji rambutan itu
            dapat menjadi makanan ringan emping yang gurih dan nikmat.
            Untuk kulit rambutan itu sendiri, dapat digunakan menjadi teh dengan cita rasa yang otentik.
        </p>
        <div class="card p-5 my-3">
            <div class=" col my-2">
                <h1>Teh Kulit Rambutan</h1>
                <h3 class="my-3">Bahan</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Bahan</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Kulit Rambutan</td>
                            <td>1 Plastik</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Air Bersih</td>
                            <td>Secukupnya</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3 class="my-3">Langkah Pembuatan</h3>
                <ol class="gradient-list">
                    <li>Bersihkan kulit rambutan dengan air bersih.
                    </li>
                    <li>Lalu jemur kulit yang sudah dicuci hingga warna kulit kecoklatan</li>
                    <li>Untuk waktu penjemuran biasanya akan memakan waktu 1-2 hari.</li>
                    <li>Setelah kulit rambutan berwarna kecoklatan, kulit dapat disimpan dalam wadah dan diseduh dengan
                        air
                        panas.</li>
                    <li>Teh Kulit rambutan sudah siap diseduh.</li>
                </ol>
            </div>

        </div>

        <div class="card p-5 my-3">
            <div class=" col my-2">
                <h1>Emping Biji Rambutan</h1>
                <h3 class="my-3">Bahan</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Bahan</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Biji Rambutan</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Air Bersih</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Minyak goreng</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Penyedap Rasa</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Cabai</td>
                            <td>Secukupnya</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3 class="my-3">Langkah Pembuatan</h3>
                <ol class="gradient-list">
                    <li>Cuci Biji hingga bersih.</li>
                    <li>Sangrai biji rambutan hingga kulit biji terkelupas dan berwarna kecoklatan</li>
                    <li>Hancurkan biji hingga berbentuk pipih dengan digeprek.</li>
                    <li>Jemur biji yang telah dihancurkan selama 2-3 hari.</li>
                    <li>Setelah dijemur, biji tersebut digoreng hingga berwarna kecoklatan.</li>
                    <li>Tiriskan biji rambutan yang telah digoreng, lalu tambahkan dengan bumbu penyedap rasa.</li>
                </ol>
            </div>
        </div>

        <div class="card p-5 my-3">
            <div class=" col my-2">
                <h1>Asinan Rambutan</h1>
                <h3 class="my-3">Bahan</h3>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Bahan</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Buah Rambutan</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Air Bersih</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Gula</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Jeruk Nipis</td>
                            <td>Secukupnya</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Cabai</td>
                            <td>Secukupnya</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3 class="my-3">Langkah Pembuatan</h3>
                <ol class="gradient-list">
                    <li>Pisahkan daging buah rambutan dari biji.</li>
                    <li>Blender cabe merah besar dan lombok, blender hingga halus</li>
                    <li>Dalam wadah lain, siapkan air secukupnya, masukkan gula putih, garam, hasil blender cabe</li>
                    <li>Panaskan bumbu tersebut hingga mendidih.</li>
                    <li>Setelah mendidih, tuangkan kuah bumbu ke dalam gelas berisi daging buah rambutan.</li>
                    <li>Dinginkan sebentar, asinan buah rambutan siap dihidangkan.</li>
                </ol>
            </div>
        </div>

    </div>
</div>
{% endblock %}

</html>