<html>

{% extends "template.html" %}

{% block content %}
<div class="container">

    <h1 class="text-center py-5">Pelayanan Rumah Bibit Desa Mawar Mekar</h1>
    <div class="col d-flex justify-content-center">
        <img src="/static/img/pertanian/bibit.jpeg" class="m-2" alt="" style="max-height: 350px">
    </div>
    <div class="col m-3 text-justify">
        <p>Program Rumah Bibit Desa Mawar Mekar merupakan lanjutan dari program desa dalam solusi ketahanan pangan dan
            diharapkan bisa menjadi peningkatan ekonomi di tengah pandemi. Terletak di sebelah Kantor Kepala Desa baru diharapkan dapat menjadi media terbaik dalam pertumbuhan bibit. 
            <br><br>
            Dalam tahap pembangun, untuk pengisian awal
            terdapat beberapa bibit yang telah disemai dan siap dikembangkan dalam rangka untuk mencapai ketahanan
            pangan seperti cabai, terong, tomat dan sawi. Dengan memilih berbagai komoditi sayuran diharapkan dapat membantu warga dalam memenuhi kebutuhan gizi makanan.
        </p>
    </div>
</div>
{% endblock %}

</html>