<html>

{% extends "template.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="card-group">
      <div class="card m-3 rounded-15">
        <div class="card-body">
          <a href="/database">
            <h5 class="card-title text-primary ">Database Pertanian Desa Mawar Mekar</h5>
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>
      <div class="card m-3 rounded-15">
        <img src="" class="card-img-top rounded-1" alt="">
        <div class="card-body">
          <h5 class="card-title text-dark ">Rumah Bibit Desa Mawar Mekar</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-group">
      <div class="card m-3 rounded-15">
        <img src="" class="card-img-top rounded-1" alt="">
        <div class="card-body">
          <h5 class="card-title text-dark ">Tutorial Pembuatan Mikroorganisme Efektif dalam Menunjang Hasil Pertanian
          </h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>
      <div class="card m-3 rounded-15">
        <img src="" class="card-img-top rounded-1" alt="">
        <div class="card-body">
          <h5 class="card-title text-dark ">Pemanfaatan Buah Rambutan (Kulit & Biji)</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}


</html>