<html>

{% extends "template.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="card-group">
      <div class="card m-3 round-25">
        <div class="card-body">
          <a href="/database" class="">
            <img src="{{ url_for('static',filename='img/pertanian/database.png')}}" alt="" class="w-100">
            <h4 class=" row card-title pt-3 px-3">Database Pertanian Desa Mawar Mekar</h4>
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted p-2">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>
      <div class="card m-3 round-25">
        <div class="card-body">
          <a href="/rumahbibit" class="">
            <img src="{{ url_for('static',filename='img/pertanian/bibit.jpeg')}}" alt="" class="w-100">
            <h4 class="card-title py-3">Rumah Bibit Desa Mawar Mekar</h4>
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted p-2">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-group">
      <div class="card m-3 round-25">
        <div class="card-body">
          <a href="/mikroEfektif" class="">
            <img src="{{ url_for('static',filename='img/pertanian/mikroEfektif.jpeg')}}" alt="" class="w-100">
            <h4 class="card-title py-3">Tutorial Pembuatan Mikroorganisme Efektif dalam Menunjang Hasil
              Pertanian
            </h4>
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted p-2">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>
      <div class="card m-3 round-25">
        <div class="card-body">
          <a href="/rambutan">
            <img src="{{ url_for('static',filename='img/pertanian/tehRutan.jpeg')}}" alt="" class="w-100">
            <h4 class="card-title py-3">Pemanfaatan Buah Rambutan (Kulit & Biji)</h4>
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted p-2">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="card-group">
      <div class="card m-3 round-25">
        <div class="card-body">
          <a href="/budidaya" class="">
            <img src="{{ url_for('static',filename='img/pertanian/budidaya.png')}}" alt="" class="w-100">
            <h4 class="card-title py-3 TEXT text-center">BUDIKDAMBER
            </h4>
          </a>
        </div>
        <div class="card-footer">
          <small class="text-muted p-2">KKN Kebangsaan-Bersama 2022</small>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}


</html>