<html>

{% extends "template.html" %}

{% block content %}
<div class="jumbotron my-5">
    <div class="container">
        <div class="col text-center pb-5">
            <h1> Daftar UMKM Desa Mawar Mekar </h1>
        </div>
        <div class="row d-flex text-center">
            <div class="col">
                <div class="card p-3 m-3">
                    <img src="/static/img/umkm/singkong.png">
                    <div class="card-body">
                        <h5 class="card-title">Keripik Singkong</h5>
                        <p class="card-text">Keripik renyah berbahan dasar singkong.</p>
                        <h3 class="fw-bold">25k/kg</h3>
                        <a href=""> <button class="btn btn-success m-3" disabled>Pesan disini</button> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 m-3">
                    <img src="/static/img/umkm/kacang.png">
                    <div class="card-body">
                        <h5 class="card-title">Kacang Sembunyi</h5>
                        <p class="card-text">Kacang yang dibalut dengan kulit pangsit berlapis gula merah.</p>
                        <h3 class="fw-bold">40k/kg</h3>
                        <a href=""> <button class="btn btn-success m-3" disabled>Pesan disini</button> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-3 m-3">
                    <img src="/static/img/umkm/madu.png">
                    <div class="card-body">
                        <h5 class="card-title">Madu Kelulut</h5>
                        <p class="card-text">Madu berkhasiat dengan rasa asam.</p>
                        <h3 class="fw-bold">50k/110ml</h3>
                        <a href=""> <button class="btn btn-success m-3" disabled>Pesan disini</button> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}


</html>